/*Styles*/


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

}

/* Style the header */
header {
  background-color: #080808;
  padding: 0;
  text-align: center;
  font-size: 0px;
  color: #fddc59ed;
  font-family: cursive;
  padding-bottom: 10px;

}
section {
	
}
#main {
  background-color: #fff;
  height: 580px;
  overflow-y: scroll;
}
h1 {
  padding: 10px 0;
  margin: 0;
  font-size: 38px;
}
h2 {
	font-size: 24px;
	text-align: center;
}
/*  two columns/boxes */
nav {
  float: left;
  width: 30%;
  height: 350px; 
  background: #481102e6;
  padding: 20px;
}

/*  list inside  menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
nav li {
  padding: 0;
  font-family: cursive;
  font-size: 18px;
}

nav ul a {
  color: #f1efebf2;
  text-decoration: none;

}
nav li a:hover {
  color: #fddc59ed;
  text-decoration: underline;
}

nav li a:active, .active {
    color: #eac73ced;

}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f0f0f0f0;
  height: 350px; 
  overflow-y: scroll;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #181618f5;
  color: white;
  text-align: center;
  font-size: 11px;
}

/* Clear float after the column */
section::after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 30px;
}

form {
	text-align: left;
    alignment-baseline: central;
    width: 50%;
    position: absolute;
    left: 25%;
    background-color: #ecce5354;
}

input[type=submit] {
	border: 1px solid #ce7a08;
    width: 110px;
    height: 30px;
    background-color: #ce7a08;
    font-size: 16px;
    color: #fff;
}
input:hover[type=submit] {background-color: #a5620c; border: 1px solid #623b06;cursor: pointer;}

input[type=radio] {
	border: 1px solid #ce7a08;
	width: 18px;
	height: 18px;
	position: relative;
    top: 3px;
}
input[type=checkbox] {
	border: 1px solid #ce7a08;
	width: 18px;
	height: 18px;
	position: relative;
    top: 3px;
}
input[type=textarea] {
	border: 1px solid #ce7a08;
	
}
/*dropdown styles*/
	/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #ce7a08;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 5px 14px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ce7a08;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

/*end dropdown*/

label { padding:20px 0; }

form h4 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
}
.main {text-align: center;}

ul p a {float: right; color: #3e9cedf7; font-size: 14px;}
ul p a:hover { text-decoration: underline;}


/*table*/

table,td, th  {
  border:  1px solid #ccc;
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
}
div span, div span a  {padding-left: 5px; font-size: 14px;}
/* Responsive   */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}